* {
    /* overflow: hidden; */
}

body {
    height: 100vh;
    width: 300vw;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
}

/* WALLACE CITY */

.wallace-city {
    height: 100%;
    width: 100%;
    display: flex;
}

/* SKY */

.sky {
    height: 100%;
    width: 100%;
    display: flex;
}

/* MOON */

.moon {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    background: radial-gradient(closest-corner circle at 15% 20%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(0, 0, 100, 1) 20%, rgba(0, 0, 30, 1) 100%);
}

/* CITY */

.city {
    height: 97%;
    width: 100%;
    display: flex;
    /* animation: scroll 60s linear infinite; */
}

/* BACKGROUND BUILDINGS */

.background-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.bb1,
.bb2,
.bb3,
.bb4,
.bb5,
.bb6,
.bb7,
.bb8,
.bb9,
.bb10,
.bb11,
.bb12 {
    width: 4%;
    height: 98%;
}

/* BB1 and BB9 */

.bb1,
.bb9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb1a,
.bb9a {
    height: 75%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb1b,
.bb9b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb1c,
.bb9c {
    height: 2.5%;
    width: 60%;
    background: rgb(10, 10, 10);
}

.bb1d,
.bb9d {
    height: 1%;
    width: 60%;
    background: rgb(20, 20, 20);
}

.bb1e,
.bb9e {
    height: 5%;
    width: 60%;
    clip-path: polygon(65% 0, 75% 70%, 95% 85%, 100% 100%, 0 100%, 5% 85%, 25% 70%, 35% 0);
    background: black;
}

.bb1f,
.bb9f {
    /* ANTENNAS */
    height: 10%;
    width: 12.5%;
    clip-path: polygon(50% 25%, 45% 40%, 65% 55%, 40% 65%, 70% 70%, 35% 75%, 35% 80%, 75% 85%, 35% 90%, 35% 100%, 20% 100%, 20% 90%, 0 100%, 20% 80%, 20% 70%, 50% 0, 80% 70%, 80% 80%, 100% 100%, 80% 90%, 80% 100%, 65% 100%, 65% 90%, 25% 85%, 65% 80%, 65% 75%, 30% 70%, 60% 65%, 35% 55%, 55% 40%);
    /* ANTENNAS */
}

.bb1g,
.bb9g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB2 and BB10 */

.bb2,
.bb10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb2a,
.bb10a {
    height: 70%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb2b,
.bb10b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb2c,
.bb10c {
    height: 3%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bb2c1,
.bb10c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.bb2c2,
.bb10c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB3 and BB11 */

.bb3,
.bb11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb3a,
.bb11a {
    height: 60%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb3b,
.bb11b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb3c,
.bb11c {
    height: 2.5%;
    width: 40%;
    background: rgb(10, 10, 10);
}


.bb3d,
.bb11d {
    height: 1%;
    width: 40%;
    background: rgb(20, 20, 20);
}

.bb3e,
.bb11e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(35% 0, 0 100%, 50% 70%, 20% 75%, 30% 50%, 25% 100%, 35% 65%, 45% 45%, 30% 40%, 35% 30%, 40% 20%, 50% 100%, 60% 20%, 65% 30%, 70% 40%, 55% 45%, 65% 65%, 75% 100%, 70% 50%, 80% 75%, 50% 70%, 100% 100%, 65% 0);
    /* ANTENNAS */
}

.bb3f,
.bb11f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.bb3g,
.bb11g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB4 and BB12 */

.bb4,
.bb12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb4a,
.bb12a {
    height: 65%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb4b,
.bb12b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb4c,
.bb12c {
    height: 2.5%;
    width: 40%;
    background: rgb(10, 10, 10);
}


.bb4d,
.bb12d {
    height: 1%;
    width: 40%;
    background: rgb(20, 20, 20);
}

.bb4e,
.bb12e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    /* ANTENNAS */
}

.bb4f,
.bb12f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.bb4g,
.bb12g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB5 */

.bb5 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb5a {
    height: 80%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb5b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb5c {
    height: 2.5%;
    width: 40%;
    background: rgb(10, 10, 10);
}

.bb5d {
    height: 1%;
    width: 40%;
    background: rgb(20, 20, 20);
}

.bb5e {
    height: 2%;
    width: 40%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background: black;
}

.bb5f {
    /* ANTENNAS */
    height: 7.5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.bb5g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB6 */

.bb6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb6a {
    height: 95%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb6b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb6c {
    height: 3%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bb6c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.bb6c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB7 */

.bb7 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb7a {
    height: 65%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb7b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb7c {
    height: 2.5%;
    width: 40%;
    background: rgb(10, 10, 10);
}

.bb7d {
    height: 1%;
    width: 40%;
    background: rgb(20, 20, 20);
}

.bb7e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    /* ANTENNAS */
}

.bb7f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.bb7g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* BB8 */

.bb8 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


.bb8a {
    height: 75%;
    width: 80%;
    background: rgb(10, 10, 10);
}

.bb8b {
    height: 1%;
    width: 80%;
    background: rgb(20, 20, 20);
}

.bb8c {
    height: 1%;
    width: 60%;
    background: rgb(10, 10, 10);
}

.bb8d {
    height: 2%;
    width: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgb(20, 20, 20);
}

.bb8e {
    /* ANTENNAS */
    height: 7.5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.bb8f {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MIDDLE GROUND BUILDINGS */

.middle-ground-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background: linear-gradient(0deg, rgba(255, 250, 0, 0.1) 0%, rgba(255, 250, 0, 0) 70%);
}

.mb1,
.mb2,
.mb3,
.mb4,
.mb5,
.mb6,
.mb7,
.mb8,
.mb9,
.mb10,
.mb11,
.mb12,
.mb13,
.mb14,
.mb15,
.mb16,
.mb17,
.mb18,
.mb19,
.mb20,
.mb21,
.mb22,
.mb23,
.mb24 {
    width: 4%;
    height: 98%;
}

/* MB1 and MB17 */

.mb1,
.mb17 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb1a,
.mb17a {
    height: 40%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb1b,
.mb17b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb1c,
.mb17c {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb1d,
.mb17d {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb1e,
.mb17e {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.mb1f,
.mb17f {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb1f1,
.mb17f1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb1f2,
.mb17f2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB2 and MB18 */

.mb2,
.mb18 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb2a,
.mb18a {
    height: 55%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb2b,
.mb18b {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb2c,
.mb18c {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb2d,
.mb18d {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb2e,
.mb18e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    /* ANTENNAS */
}

.mb2f,
.mb18f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.mb2g,
.mb18g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB3 and MB19 */

.mb3,
.mb19 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb3a,
.mb19a {
    height: 45%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb3b,
.mb19b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb3c,
.mb19c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb3c1,
.mb19c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb3c2,
.mb19c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB4 and MB20 */

.mb4,
.mb20 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb4a,
.mb20a {
    height: 65%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb4b,
.mb20b {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb4c,
.mb20c {
    height: 1%;
    width: 40%;
    background: rgb(15, 15, 15);
}

.mb4d,
.mb20d {
    height: 2.5%;
    width: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgb(25, 25, 25);
}

.mb4e,
.mb20e {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    /* ANTENNAS */
}

.mb4f,
.mb20f {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB5 and MB21 */

.mb5,
.mb21 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb5a,
.mb21a {
    height: 50%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb5b,
.mb21b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb5c,
.mb21c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb5c1,
.mb21c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb5c2,
.mb21c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB6 and MB22 */

.mb6,
.mb22 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb6a,
.mb22a {
    height: 45%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb6b,
.mb22b {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb6c,
.mb22c {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb6d,
.mb22d {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb6e,
.mb22e {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: rgb(15, 15, 15);
}

.mb6f,
.mb22f {
    height: 5%;
    width: 30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: rgb(25, 25, 25);
}

.mb6g,
.mb22g {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    /* ANTENNAS */
}

.mb6h,
.mb22h {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB7 and MB23 */

.mb7,
.mb23 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb7a,
.mb23a {
    height: 25%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background: linear-gradient(0deg, rgba(50, 50, 50, 1) 50%, rgba(20, 20, 20, 1) 100%);
}

.mb7b,
.mb23b {
    height: 65%;
    width: 100%;
    clip-path: polygon(20% 5%, 80% 0, 100% 100%, 0 100%);
    background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(50, 50, 50, 1) 50%, rgba(20, 20, 20, 1) 100%);
}

/* MB8 and MB24 */

.mb8,
.mb24 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb8a,
.mb24a {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb8b,
.mb24b {
    height: 1%;
    width: 90%;
    background: rgb(25, 25, 25);
}

.mb8c,
.mb24c {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb8d,
.mb24d {
    height: 1%;
    width: 90%;
    background: rgb(25, 25, 25);
}

.mb8e,
.mb24e {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb8f,
.mb24f {
    height: 1%;
    width: 90%;
    background: rgb(25, 25, 25);
}

.mb8g,
.mb24g {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb8h,
.mb24h {
    height: 1%;
    width: 90%;
    background: rgb(25, 25, 25);
}

.mb8i,
.mb24i {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb8j,
.mb24j {
    height: 1%;
    width: 90%;
    background: rgb(25, 25, 25);
}

.mb8k,
.mb24k {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb8l,
.mb24l {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb8m,
.mb24m {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.mb8n,
.mb24n {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb8n1,
.mb24n1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb8n2,
.mb24n2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB9 */

.mb9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb9a {
    height: 60%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb9b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb9c {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb9d {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb9e {
    height: 2.5%;
    width: 40%;
    background: rgb(15, 15, 15);
}

.mb9f {
    height: 1%;
    width: 40%;
    background: rgb(25, 25, 25);
}

.mb9g {
    height: 2%;
    width: 40%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.mb9h {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb9h1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 34%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb9h2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 34%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB10 */

.mb10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb10a {
    height: 25%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb10b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb10c {
    height: 2%;
    width: 100%;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: rgb(25, 25, 25);
}

.mb10d {
    height: 5%;
    width: 90%;
    margin-right: 10%;
    background: rgb(15, 15, 15);
}

.mb10e {
    height: 1%;
    width: 90%;
    margin-right: 10%;
    background: rgb(25, 25, 25);
}

.mb10f {
    height: 2%;
    width: 90%;
    margin-right: 10%;
    clip-path: polygon(0% 0%, 88.5% 0%, 100% 100%, 0% 100%);
    background: rgb(25, 25, 25);
}

.mb10g {
    height: 5%;
    width: 80%;
    margin-right: 20%;
    background: rgb(15, 15, 15);
}

.mb10h {
    height: 1%;
    width: 80%;
    margin-right: 20%;
    background: rgb(25, 25, 25);
}

.mb10i {
    height: 2%;
    width: 80%;
    margin-right: 20%;
    clip-path: polygon(0% 0%, 87.5% 0%, 100% 100%, 0% 100%);
    background: rgb(25, 25, 25);
}

.mb10j {
    height: 5%;
    width: 70%;
    margin-right: 30%;
    background: rgb(15, 15, 15);
}

.mb10k {
    height: 1%;
    width: 70%;
    margin-right: 30%;
    background: rgb(25, 25, 25);
}

.mb10l {
    height: 2.5%;
    width: 40%;
    margin-right: 30%;
    background: rgb(15, 15, 15);
}

.mb10m {
    height: 1%;
    width: 40%;
    margin-right: 30%;
    background: rgb(25, 25, 25);
}

.mb10n {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    margin-right: 30%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    /* ANTENNAS */
}

.mb10o {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    margin-right: 30%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.mb10p {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    margin-right: 30%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB11 */

.mb11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb11a {
    height: 50%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb11b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb11c {
    height: 25%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb11d {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb11e {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb11f {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb11g {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(35% 0, 0 100%, 50% 70%, 20% 75%, 30% 50%, 25% 100%, 35% 65%, 45% 45%, 30% 40%, 35% 30%, 40% 20%, 50% 100%, 60% 20%, 65% 30%, 70% 40%, 55% 45%, 65% 65%, 75% 100%, 70% 50%, 80% 75%, 50% 70%, 100% 100%, 65% 0);
    /* ANTENNAS */
}

.mb11h {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    /* ANTENNAS */
}

.mb11i {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB12 */

.mb12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb12a {
    height: 30%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb12b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb12c {
    height: 4%;
    width: 100%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.mb12d {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb12e {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb12f {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb12g {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb12h {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb12i {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb12j {
    height: 5%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb12k {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb12l {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb12m {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb12n {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.mb12o {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb12o1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb12o2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB13 */

.mb13 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb13a {
    height: 40%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb13b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb13c {
    height: 2.5%;
    width: 60%;
    background: rgb(15, 15, 15);
}

.mb13d {
    height: 1%;
    width: 60%;
    background: rgb(25, 25, 25);
}

.mb13e {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb13e1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 20%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb13e2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 20%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB14 */

.mb14 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb14a {
    height: 50%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb14b {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb14c {
    height: 8%;
    width: 80%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.mb14d {
    height: 1%;
    width: 64%;
    background: rgb(25, 25, 25);
}

.mb14e {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb14e1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 18%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb14e2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 18%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB15 */

.mb15 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb15a {
    height: 70%;
    width: 100%;
    background: rgb(15, 15, 15);
}

.mb15b {
    height: 1%;
    width: 100%;
    background: rgb(25, 25, 25);
}

.mb15c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb15c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb15c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* MB16 */

.mb16 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb16a {
    height: 50%;
    width: 80%;
    background: rgb(15, 15, 15);
}

.mb16b {
    height: 1%;
    width: 80%;
    background: rgb(25, 25, 25);
}

.mb16c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.mb16c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 10%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.mb16c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 10%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FOREGROUND BUILDINGS */

.foreground-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.fb1,
.fb2,
.fb3,
.fb4,
.fb5,
.fb6,
.fb7,
.fb8,
.fb9,
.fb10,
.fb11,
.fb12,
.fb13,
.fb14,
.fb15,
.fb16,
.fb17,
.fb18,
.fb19,
.fb20,
.fb21 {
    width: 4%;
    height: 98%;
}

/* FB1 and FB15 */

.fb1,
.fb15 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb1a,
.fb15a {
    height: 25%;
    width: 60%;
    background: black;
}

.fb1b,
.fb15b {
    height: 1%;
    width: 60%;
    background: black;
}

.fb1c,
.fb15c {
    height: 1%;
    width: 40%;
    background: black;
}

/* FB2 and FB16 */

.fb2,
.fb16 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb2a,
.fb16a {
    height: 35%;
    width: 60%;
    background: black;
}

.fb2b,
.fb16b {
    height: 1%;
    width: 60%;
    background: black;
}

.fb2c,
.fb16c {
    height: 2.5%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.fb2d,
.fb16d {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.fb2d1,
.fb16d1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.fb2d2,
.fb16d2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB3 and FB17 */

.fb3,
.fb17 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb3a,
.fb17a {
    height: 25%;
    width: 80%;
    background: black;
}

.fb3b,
.fb17b {
    height: 1%;
    width: 80%;
    background: black;
}

.fb3c,
.fb17c {
    height: 2.5%;
    width: 60%;
    background: black;
}

.fb3d,
.fb17d {
    height: 1%;
    width: 60%;
    background: black;
}

.fb3e,
.fb17e {
    height: 1%;
    width: 20%;
    background: black;
}

.fb3f,
.fb17f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    /* ANTENNAS */
}

.fb3g,
.fb17g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB4 and FB18 */

.fb4,
.fb18 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb4a,
.fb18a {
    height: 35%;
    width: 80%;
    background: black;
}

.fb4b,
.fb18b {
    height: 1%;
    width: 80%;
    background: black;
}

.fb4c,
.fb18c {
    height: 2.5%;
    width: 80%;
    background: black;
}

.fb4d,
.fb18d {
    height: 1%;
    width: 80%;
    background: black;
}

.fb4e,
.fb18e {
    height: 5%;
    width: 80%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: black;
}

.fb4f,
.fb18f {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB5 and FB19 */

.fb5,
.fb19 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb5a,
.fb19a {
    height: 20%;
    width: 60%;
    background: black;
}

.fb5b,
.fb19b {
    height: 1%;
    width: 60%;
    background: black;
}

.fb5c,
.fb19c {
    height: 2.5%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.fb5d,
.fb19d {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.fb5d1,
.fb19d1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.fb5d2,
.fb19d2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB6 and FB20 */

.fb6,
.fb20 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb6a,
.fb20a {
    height: 40%;
    width: 80%;
    background: black;
}

.fb6b,
.fb20b {
    height: 1%;
    width: 80%;
    background: black;
}

.fb6c,
.fb20c {
    height: 2.5%;
    width: 60%;
    background: black;
}

.fb6d,
.fb20d {
    height: 1%;
    width: 60%;
    background: black;
}

.fb6e,
.fb20e {
    height: 1%;
    width: 20%;
    background: black;
}

.fb6f,
.fb20f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    /* ANTENNAS */
}

.fb6g,
.fb20g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB7 and FB21 */

.fb7,
.fb21 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb7a,
.fb21a {
    height: 15%;
    width: 60%;
    background: black;
}

.fb7b,
.fb21b {
    height: 1%;
    width: 60%;
    background: black;
}

.fb7c,
.fb21c {
    height: 5%;
    width: 60%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: black;
}

/* FB8 */

.fb8 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb8a {
    height: 35%;
    width: 80%;
    background: black;
}

.fb8b {
    height: 1%;
    width: 80%;
    background: black;
}

.fb8c {
    height: 2.5%;
    width: 60%;
    background: black;
}

.fb8d {
    height: 1%;
    width: 60%;
    background: black;
}

.fb8e {
    height: 1%;
    width: 20%;
    background: black;
}

.fb8f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    /* ANTENNAS */
}

.fb8g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB9 */

.fb9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb9a {
    height: 15%;
    width: 80%;
    background: black;
}

.fb9b {
    height: 1%;
    width: 80%;
    background: black;
}

/* FB10 */

.fb10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb10a {
    height: 25%;
    width: 60%;
    background: black;
}

.fb10b {
    height: 1%;
    width: 60%;
    background: black;
}

.fb10c {
    height: 1%;
    width: 40%;
    background: black;
}

/* FB11 */

.fb11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb11a {
    height: 25%;
    width: 80%;
    background: black;
}

.fb11b {
    height: 1%;
    width: 80%;
    background: black;
}

/* FB12 */

.fb12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb12a {
    height: 35%;
    width: 60%;
    background: black;
}

.fb12b {
    height: 1%;
    width: 60%;
    background: black;
}

.fb12c {
    height: 1%;
    width: 40%;
    background: black;
}

/* FB13 */

.fb13 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb13a {
    height: 25%;
    width: 80%;
    background: black;
}

.fb13b {
    height: 1%;
    width: 80%;
    background: black;
}

.fb13c {
    height: 5%;
    width: 80%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background: black;
}

.fb13d {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.fb13d1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 18%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

.fb13d2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 18%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FB14 */

.fb14 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb14a {
    height: 35%;
    width: 80%;
    background: black;
}

.fb14b {
    height: 1%;
    width: 80%;
    background: black;
}

.fb14c {
    height: 2.5%;
    width: 60%;
    background: black;
}

.fb14d {
    height: 1%;
    width: 60%;
    background: black;
}

.fb14e {
    height: 1%;
    width: 20%;
    background: black;
}

.fb14f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    /* ANTENNAS */
}

.fb14g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
    /* RED LIGHT */
}

/* FOREGROUND */

.foreground {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: linear-gradient(0deg, rgba(255, 250, 0, 0.1) 0%, rgba(255, 250, 0, 0) 20%);
}

/* CARS */

.cars {
    height: 1%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.cars-lights {
    height: 100%;
    width: 0.338%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/* CL1 and CL2 */

.cl1 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl2 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL3 and CL4 */

.cl3 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl4 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL5 and CL6 */

.cl5 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl6 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL7 and CL8 */

.cl7 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl8 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL9 and CL10 */

.cl9 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl10 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL11 and CL12 */

.cl11 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl12 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL13 and CL14 */

.cl13 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl14 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL15 and CL16 */

.cl15 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl16 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL17 and CL18 */

.cl17 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl18 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* CL19 and CL20 */

.cl19 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 0, 0, 0.8) 40%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 75%);
}

.cl20 {
    height: 100%;
    width: 50%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SPACE BETWEEN */

.space-between {
    height: 0.7%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/* STREET LIGHTS */

.street-lights {
    height: 1%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

/* SL1 */

.sl1 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL2 */

.sl2 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL3 */

.sl3 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL4 */

.sl4 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL5 */

.sl5 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL6 */

.sl6 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL7 */

.sl7 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL8 */

.sl8 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL9 */

.sl9 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* SL10 */

.sl10 {
    height: 100%;
    width: 0.169%;
    clip-path: circle(50% at 50% 50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(250, 255, 0, 0.8) 40%, rgba(250, 255, 0, 0.8) 50%, rgba(250, 255, 0, 0) 75%);
}

/* WINDOWS */

/* ANTENNAS */

.antennas-1 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%);
}

.antennas-2 {
    background: black;
}

/* RED LIGHTS */

/* ABSOLUTE POSITION */

.sky,
.city,
.background-buildings,
.middle-ground-buildings,
.foreground-buildings,
.foreground {
    position: absolute;
}

/* SCROLL */

@keyframes scroll {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-66.67%);
    }
}