* {
    box-sizing: border-box;
    border: solid black 1px;
    /* overflow: hidden; */
    /* border: 0; */
}

body {
    height: 100vh;
    width: 300vw;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
}

/* SKY */

.sky {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
}

/* CITY */

.city {
    height: 97%;
    width: 100%;
    /* animation: scroll 60s linear infinite; */
    display: flex;
}

/* BACKGROUND BUILDINGS */

.background-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.bb1,
.bb2,
.bb3,
.bb4,
.bb5,
.bb6,
.bb7,
.bb8,
.bb9,
.bb10,
.bb11,
.bb12 {
    width: 4%;
    height: 98%;
    border: 0;
}

/* BB1 and BB9 */

.bb1,
.bb9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb1a,
.bb9a {
    height: 75%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb1b,
.bb9b {
    height: 1%;
    width: 80%;
}

.bb1c,
.bb9c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-1 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-1 */
}

.bb1d,
.bb9d {
    height: 1%;
    width: 60%;
}

.bb1e,
.bb9e {
    height: 5%;
    width: 60%;
    clip-path: polygon(65% 0, 75% 70%, 95% 85%, 100% 100%, 0 100%, 5% 85%, 25% 70%, 35% 0);
    background-color: black;
}

.bb1f,
.bb9f {
    /* ANTENNAS */
    height: 10%;
    width: 12.5%;
    clip-path: polygon(50% 25%, 45% 40%, 65% 55%, 40% 65%, 70% 70%, 35% 75%, 35% 80%, 75% 85%, 35% 90%, 35% 100%, 20% 100%, 20% 90%, 0 100%, 20% 80%, 20% 70%, 50% 0, 80% 70%, 80% 80%, 100% 100%, 80% 90%, 80% 100%, 65% 100%, 65% 90%, 25% 85%, 65% 80%, 65% 75%, 30% 70%, 60% 65%, 35% 55%, 55% 40%);
    background-color: black;
    /* ANTENNAS */
}

.bb1g,
.bb9g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* BB2 and BB10 */

.bb2,
.bb10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb2a,
.bb10a {
    height: 70%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb2b,
.bb10b {
    height: 1%;
    width: 80%;
}

.bb2c,
.bb10c {
    height: 3%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.bb2c1,
.bb10c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    /* RED LIGHT */
}

.bb2c2,
.bb10c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    /* RED LIGHT */
}

/* BB3 and BB11 */

.bb3,
.bb11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb3a,
.bb11a {
    height: 60%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(28, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb3b,
.bb11b {
    height: 1%;
    width: 80%;
}

.bb3c,
.bb11c {
    height: 2.5%;
    width: 40%;
    /* OTHERS-1 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-1 */
}


.bb3d,
.bb11d {
    height: 1%;
    width: 40%;
}

.bb3e,
.bb11e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(35% 0, 0 100%, 50% 70%, 20% 75%, 30% 50%, 25% 100%, 35% 65%, 45% 45%, 30% 40%, 35% 30%, 40% 20%, 50% 100%, 60% 20%, 65% 30%, 70% 40%, 55% 45%, 65% 65%, 75% 100%, 70% 50%, 80% 75%, 50% 70%, 100% 100%, 65% 0);
    background-color: black;
    /* ANTENNAS */
}

.bb3f,
.bb11f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.bb3g,
.bb11g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* BB4 and BB12 */

.bb4,
.bb12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb4a,
.bb12a {
    height: 65%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb4b,
.bb12b {
    height: 1%;
    width: 80%;
}

.bb4c,
.bb12c {
    height: 2.5%;
    width: 40%;
    /* OTHERS-1 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-1 */
}


.bb4d,
.bb12d {
    height: 1%;
    width: 40%;
}

.bb4e,
.bb12e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    background-color: black;
    /* ANTENNAS */
}

.bb4f,
.bb12f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.bb4g,
.bb12g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* BB5 */

.bb5 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb5a {
    height: 80%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb5b {
    height: 1%;
    width: 80%;
}

.bb5c {
    height: 2.5%;
    width: 40%;
    /* OTHERS-1 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-1 */
}

.bb5d {
    height: 1%;
    width: 40%;
}

.bb5e {
    height: 2%;
    width: 40%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.bb5f {
    /* ANTENNAS */
    height: 7.5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.bb5g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* BB6 */

.bb6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb6a {
    height: 95%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(35, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb6b {
    height: 1%;
    width: 80%;
}

.bb6c {
    height: 3%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.bb6c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    /* RED LIGHT */
}

.bb6c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 10.3%;
    /* RED LIGHT */
}

/* BB7 */

.bb7 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bb7a {
    height: 65%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(30, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb7b {
    height: 1%;
    width: 80%;
}

.bb7c {
    height: 2.5%;
    width: 40%;
    /* OTHERS-1 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-1 */
}

.bb7d {
    height: 1%;
    width: 40%;
}

.bb7e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    background-color: black;
    /* ANTENNAS */
}

.bb7f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.bb7g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* BB8 */

.bb8 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


.bb8a {
    height: 75%;
    width: 80%;
    /* WINDOWS-1 */
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(25, 1fr);
    gap: 2%;
    padding: 3%;
    /* WINDOWS-1 */
}

.bb8b {
    height: 1%;
    width: 80%;
}

.bb8c {
    height: 1%;
    width: 60%;
}

.bb8d {
    height: 2%;
    width: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.bb8e {
    /* ANTENNAS */
    height: 7.5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.bb8f {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* MIDDLE GROUND BUILDINGS */

.middle-ground-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.mb1,
.mb2,
.mb3,
.mb4,
.mb5,
.mb6,
.mb7,
.mb8,
.mb9,
.mb10,
.mb11,
.mb12,
.mb13,
.mb14,
.mb15,
.mb16,
.mb17,
.mb18,
.mb19,
.mb20,
.mb21,
.mb22,
.mb23,
.mb24 {
    width: 4%;
    height: 98%;
    border: 0;
}

/* MB1 and MB17 */

.mb1,
.mb17 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb1a,
.mb17a {
    height: 60%;
    width: 100%;
}

.mb1b,
.mb17b {
    height: 1%;
    width: 100%;
}

.mb1c,
.mb17c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb1d,
.mb17d {
    height: 1%;
    width: 60%;
}

.mb1e,
.mb17e {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb1f,
.mb17f {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb1f1,
.mb17f1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    /* RED LIGHT */
}

.mb1f2,
.mb17f2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    /* RED LIGHT */
}

/* MB2 and MB18 */

.mb2,
.mb18 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb2a,
.mb18a {
    height: 50%;
    width: 80%;
}

.mb2b,
.mb18b {
    height: 1%;
    width: 80%;
}

.mb2c,
.mb18c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb2d,
.mb18d {
    height: 1%;
    width: 60%;
}

.mb2e,
.mb18e {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    background-color: black;
    /* ANTENNAS */
}

.mb2f,
.mb18f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.mb2g,
.mb18g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* MB3 and MB19 */

.mb3,
.mb19 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb3a,
.mb19a {
    height: 60%;
    width: 100%;
}

.mb3b,
.mb19b {
    height: 1%;
    width: 100%;
}

.mb3c,
.mb19c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb3c1,
.mb19c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    /* RED LIGHT */
}

.mb3c2,
.mb19c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    /* RED LIGHT */
}

/* MB4 and MB20 */

.mb4,
.mb20 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb4a,
.mb20a {
    height: 65%;
    width: 80%;
}

.mb4b,
.mb20b {
    height: 1%;
    width: 80%;
}

.mb4c,
.mb20c {
    height: 1%;
    width: 40%;
}

.mb4d,
.mb20d {
    height: 2.5%;
    width: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.mb4e,
.mb20e {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    background-color: black;
    /* ANTENNAS */
}

.mb4f,
.mb20f {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* MB5 and MB21 */

.mb5,
.mb21 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb5a,
.mb21a {
    height: 55%;
    width: 100%;
}

.mb5b,
.mb21b {
    height: 1%;
    width: 100%;
}

.mb5c,
.mb21c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb5c1,
.mb21c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    /* RED LIGHT */
}

.mb5c2,
.mb21c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    /* RED LIGHT */
}

/* MB6 and MB22 */

.mb6,
.mb22 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb6a,
.mb22a {
    height: 50%;
    width: 80%;
}

.mb6b,
.mb22b {
    height: 1%;
    width: 80%;
}

.mb6c,
.mb22c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb6d,
.mb22d {
    height: 1%;
    width: 60%;
}

.mb6e,
.mb22e {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb6f,
.mb22f {
    height: 5%;
    width: 30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.mb6g,
.mb22g {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    background-color: black;
    /* ANTENNAS */
}

.mb6h,
.mb22h {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* MB7 and MB23 */

.mb7,
.mb23 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb7a,
.mb23a {
    height: 25%;
    width: 100%;
    /* clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background-color: grey; */
}

.mb7b,
.mb23b {
    height: 65%;
    width: 100%;
    /* clip-path: polygon(20% 5%, 80% 0, 100% 100%, 0 100%);
    background-color: grey; */
}

/* MB8 and MB24 */

.mb8,
.mb24 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb8a,
.mb24a {
    height: 5%;
    width: 80%;
}

.mb8b,
.mb24b {
    height: 1%;
    width: 90%;
}

.mb8c,
.mb24c {
    height: 5%;
    width: 80%;
}

.mb8d,
.mb24d {
    height: 1%;
    width: 90%;
}

.mb8e,
.mb24e {
    height: 5%;
    width: 80%;
}

.mb8f,
.mb24f {
    height: 1%;
    width: 90%;
}

.mb8g,
.mb24g {
    height: 5%;
    width: 80%;
}

.mb8h,
.mb24h {
    height: 1%;
    width: 90%;
}

.mb8i,
.mb24i {
    height: 5%;
    width: 80%;
}

.mb8j,
.mb24j {
    height: 1%;
    width: 90%;
}

.mb8k,
.mb24k {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb8l,
.mb24l {
    height: 1%;
    width: 60%;
}

.mb8m,
.mb24m {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb8n,
.mb24n {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb8n1,
.mb24n1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    /* RED LIGHT */
}

.mb8n2,
.mb24n2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    /* RED LIGHT */
}

/* MB9 */

.mb9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb9a {
    height: 60%;
    width: 100%;
}

.mb9b {
    height: 1%;
    width: 100%;
}

.mb9c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb9d {
    height: 1%;
    width: 60%;
}

.mb9e {
    height: 2.5%;
    width: 40%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb9f {
    height: 1%;
    width: 40%;
}

.mb9g {
    height: 2%;
    width: 40%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb9h {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb9h1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 34%;
    /* RED LIGHT */
}

.mb9h2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 34%;
    /* RED LIGHT */
}

/* MB10 */

.mb10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb10a {
    height: 25%;
    width: 100%;
}

.mb10b {
    height: 1%;
    width: 100%;
}

.mb10c {
    height: 2%;
    width: 100%;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb10d {
    height: 5%;
    width: 90%;
    margin-right: 10%;
}

.mb10e {
    height: 1%;
    width: 90%;
    margin-right: 10%;
}

.mb10f {
    height: 2%;
    width: 90%;
    margin-right: 10%;
    clip-path: polygon(0% 0%, 88.5% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb10g {
    height: 5%;
    width: 80%;
    margin-right: 20%;
}

.mb10h {
    height: 1%;
    width: 80%;
    margin-right: 20%;
}

.mb10i {
    height: 2%;
    width: 80%;
    margin-right: 20%;
    clip-path: polygon(0% 0%, 87.5% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb10j {
    height: 5%;
    width: 70%;
    margin-right: 30%;
}

.mb10k {
    height: 1%;
    width: 70%;
    margin-right: 30%;
}

.mb10l {
    height: 2.5%;
    width: 40%;
    margin-right: 30%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb10m {
    height: 1%;
    width: 40%;
    margin-right: 30%;
}

.mb10n {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    margin-right: 30%;
    clip-path: polygon(75% 50%, 0 100%, 35% 0, 65% 0, 100% 100%, 25% 50%, 80% 75%, 65% 30%, 55% 100%, 45% 100%, 35% 30%, 20% 75%);
    background-color: black;
    /* ANTENNAS */
}

.mb10o {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    margin-right: 30%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.mb10p {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    margin-right: 30%;
    /* RED LIGHT */
}

/* MB11 */

.mb11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb11a {
    height: 50%;
    width: 100%;
}

.mb11b {
    height: 1%;
    width: 100%;
}

.mb11c {
    height: 25%;
    width: 80%;
}

.mb11d {
    height: 1%;
    width: 80%;
}

.mb11e {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb11f {
    height: 1%;
    width: 60%;
}

.mb11g {
    /* ANTENNAS */
    height: 2.5%;
    width: 20%;
    clip-path: polygon(35% 0, 0 100%, 50% 70%, 20% 75%, 30% 50%, 25% 100%, 35% 65%, 45% 45%, 30% 40%, 35% 30%, 40% 20%, 50% 100%, 60% 20%, 65% 30%, 70% 40%, 55% 45%, 65% 65%, 75% 100%, 70% 50%, 80% 75%, 50% 70%, 100% 100%, 65% 0);
    background-color: black;
    /* ANTENNAS */
}

.mb11h {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(40% 40%, 25% 50%, 20% 60%, 90% 65%, 20% 70%, 20% 80%, 90% 85%, 20% 90%, 20% 100%, 0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 80% 100%, 80% 90%, 10% 85%, 80% 80%, 80% 70%, 10% 65%, 80% 60%, 75% 50%, 60% 40%, 50% 85%);
    background-color: black;
    /* ANTENNAS */
}

.mb11i {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* MB12 */

.mb12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb12a {
    height: 30%;
    width: 100%;
}

.mb12b {
    height: 1%;
    width: 100%;
}

.mb12c {
    height: 4%;
    width: 100%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb12d {
    height: 5%;
    width: 80%;
}

.mb12e {
    height: 1%;
    width: 80%;
}

.mb12f {
    height: 5%;
    width: 80%;
}

.mb12g {
    height: 1%;
    width: 80%;
}

.mb12h {
    height: 5%;
    width: 80%;
}

.mb12i {
    height: 1%;
    width: 80%;
}

.mb12j {
    height: 5%;
    width: 80%;
}

.mb12k {
    height: 1%;
    width: 80%;
}

.mb12l {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb12m {
    height: 1%;
    width: 60%;
}

.mb12n {
    height: 2%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb12o {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb12o1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    /* RED LIGHT */
}

.mb12o2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    /* RED LIGHT */
}

/* MB13 */

.mb13 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb13a {
    height: 40%;
    width: 100%;
}

.mb13b {
    height: 1%;
    width: 100%;
}

.mb13c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-2 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-2 */
}

.mb13d {
    height: 1%;
    width: 60%;
}

.mb13e {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb13e1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 20%;
    /* RED LIGHT */
}

.mb13e2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 20%;
    /* RED LIGHT */
}

/* MB14 */

.mb14 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb14a {
    height: 50%;
    width: 80%;
}

.mb14b {
    height: 1%;
    width: 80%;
}

.mb14c {
    height: 8%;
    width: 80%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.mb14d {
    height: 1%;
    width: 64%;
}

.mb14e {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb14e1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 18%;
    /* RED LIGHT */
}

.mb14e2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 18%;
    /* RED LIGHT */
}

/* MB15 */

.mb15 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb15a {
    height: 70%;
    width: 100%;
}

.mb15b {
    height: 1%;
    width: 100%;
}

.mb15c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb15c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    /* RED LIGHT */
}

.mb15c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    /* RED LIGHT */
}

/* MB16 */

.mb16 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mb16a {
    height: 50%;
    width: 80%;
}

.mb16b {
    height: 1%;
    width: 80%;
}

.mb16c {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.mb16c1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 10%;
    /* RED LIGHT */
}

.mb16c2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 10%;
    /* RED LIGHT */
}

/* FOREGROUND BUILDINGS */

.foreground-buildings {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.fb1,
.fb2,
.fb3,
.fb4,
.fb5,
.fb6,
.fb7,
.fb8,
.fb9,
.fb10,
.fb11,
.fb12,
.fb13,
.fb14,
.fb15,
.fb16,
.fb17,
.fb18,
.fb19,
.fb20,
.fb21 {
    width: 4%;
    height: 98%;
    border: 0;
}

/* FB1 and FB15 */

.fb1,
.fb15 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb1a,
.fb15a {
    height: 25%;
    width: 60%;
}

.fb1b,
.fb15b {
    height: 1%;
    width: 60%;
}

.fb1c,
.fb15c {
    height: 1%;
    width: 40%;
}

/* FB2 and FB16 */

.fb2,
.fb16 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb2a,
.fb16a {
    height: 35%;
    width: 60%;
}

.fb2b,
.fb16b {
    height: 1%;
    width: 60%;
}

.fb2c,
.fb16c {
    height: 2.5%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.fb2d,
.fb16d {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.fb2d1,
.fb16d1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    /* RED LIGHT */
}

.fb2d2,
.fb16d2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    /* RED LIGHT */
}

/* FB3 and FB17 */

.fb3,
.fb17 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb3a,
.fb17a {
    height: 25%;
    width: 80%;
}

.fb3b,
.fb17b {
    height: 1%;
    width: 80%;
}

.fb3c,
.fb17c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-3 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-3 */
}

.fb3d,
.fb17d {
    height: 1%;
    width: 60%;
}

.fb3e,
.fb17e {
    height: 1%;
    width: 20%;
}

.fb3f,
.fb17f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    background-color: black;
    /* ANTENNAS */
}

.fb3g,
.fb17g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* FB4 and FB18 */

.fb4,
.fb18 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb4a,
.fb18a {
    height: 35%;
    width: 80%;
}

.fb4b,
.fb18b {
    height: 1%;
    width: 80%;
}

.fb4c,
.fb18c {
    height: 2.5%;
    width: 80%;
}

.fb4d,
.fb18d {
    height: 1%;
    width: 80%;
}

.fb4e,
.fb18e {
    height: 5%;
    width: 80%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: grey;
}

.fb4f,
.fb18f {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* FB5 and FB19 */

.fb5,
.fb19 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb5a,
.fb19a {
    height: 20%;
    width: 60%;
}

.fb5b,
.fb19b {
    height: 1%;
    width: 60%;
}

.fb5c,
.fb19c {
    height: 2.5%;
    width: 60%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.fb5d,
.fb19d {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.fb5d1,
.fb19d1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 26%;
    /* RED LIGHT */
}

.fb5d2,
.fb19d2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 26%;
    /* RED LIGHT */
}

/* FB6 and FB20 */

.fb6,
.fb20 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb6a,
.fb20a {
    height: 40%;
    width: 80%;
}

.fb6b,
.fb20b {
    height: 1%;
    width: 80%;
}

.fb6c,
.fb20c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-3 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-3 */
}

.fb6d,
.fb20d {
    height: 1%;
    width: 60%;
}

.fb6e,
.fb20e {
    height: 1%;
    width: 20%;
}

.fb6f,
.fb20f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    background-color: black;
    /* ANTENNAS */
}

.fb6g,
.fb20g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* FB7 and FB21 */

.fb7,
.fb21 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb7a,
.fb21a {
    height: 15%;
    width: 60%;
}

.fb7b,
.fb21b {
    height: 1%;
    width: 60%;
}

.fb7c,
.fb21c {
    height: 5%;
    width: 60%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: grey;
}

/* FB8 */

.fb8 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb8a {
    height: 35%;
    width: 80%;
}

.fb8b {
    height: 1%;
    width: 80%;
}

.fb8c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-3 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-3 */
}

.fb8d {
    height: 1%;
    width: 60%;
}

.fb8e {
    height: 1%;
    width: 20%;
}

.fb8f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    background-color: black;
    /* ANTENNAS */
}

.fb8g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* FB9 */

.fb9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb9a {
    height: 15%;
    width: 80%;
}

.fb9b {
    height: 1%;
    width: 80%;
}

/* FB10 */

.fb10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb10a {
    height: 25%;
    width: 60%;
}

.fb10b {
    height: 1%;
    width: 60%;
}

.fb10c {
    height: 1%;
    width: 40%;
}

/* FB11 */

.fb11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb11a {
    height: 25%;
    width: 80%;
}

.fb11b {
    height: 1%;
    width: 80%;
}

/* FB12 */

.fb12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb12a {
    height: 35%;
    width: 60%;
}

.fb12b {
    height: 1%;
    width: 60%;
}

.fb12c {
    height: 1%;
    width: 40%;
}

/* FB13 */

.fb13 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb13a {
    height: 25%;
    width: 80%;
}

.fb13b {
    height: 1%;
    width: 80%;
}

.fb13c {
    height: 5%;
    width: 80%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    background-color: grey;
}

.fb13d {
    height: 3%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 0;
}

.fb13d1 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-left: 18%;
    /* RED LIGHT */
}

.fb13d2 {
    /* RED LIGHT */
    height: 66.4%;
    width: 8.24%;
    margin-right: 18%;
    /* RED LIGHT */
}

/* FB14 */

.fb14 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fb14a {
    height: 35%;
    width: 80%;
}

.fb14b {
    height: 1%;
    width: 80%;
}

.fb14c {
    height: 2.5%;
    width: 60%;
    /* OTHERS-3 */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2.5%;
    /* OTHERS-3 */
}

.fb14d {
    height: 1%;
    width: 60%;
}

.fb14e {
    height: 1%;
    width: 20%;
}

.fb14f {
    /* ANTENNAS */
    height: 5%;
    width: 5%;
    clip-path: polygon(0 100%, 0 70%, 50% 0, 100% 70%, 100% 100%, 70% 100%, 40% 80%, 70% 60%, 50% 50%, 30% 60%, 60% 80%, 30% 100%);
    background-color: black;
    /* ANTENNAS */
}

.fb14g {
    /* RED LIGHT */
    height: 2%;
    width: 8.28%;
    /* RED LIGHT */
}

/* FOREGROUND */

.foreground {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.casl1,
.casl2,
.casl3,
.casl4,
.casl5,
.casl6,
.casl7,
.casl8,
.casl9,
.casl10,
.casl11,
.casl12,
.casl13,
.casl14,
.casl15 {
    width: 20vw;
    height: 10%;
    border: 0;
}

/* CARS AND STREET LIGHTS 1 AND 11 */

.casl1,
.casl11 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl1a,
.casl11a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl1b,
.casl11b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl1b1,
.casl11b1,
.casl1b2,
.casl11b2,
.casl1b3,
.casl11b3,
.casl1b4,
.casl11b4,
.casl1b5,
.casl11b5,
.casl1b6,
.casl11b6,
.casl1b7,
.casl11b7,
.casl1b8,
.casl11b8,
.casl1b9,
.casl11b9,
.casl1b10,
.casl11b10,
.casl1b11,
.casl11b11,
.casl1b12,
.casl11b12,
.casl1b13,
.casl11b13,
.casl1b14,
.casl11b14,
.casl1b15,
.casl11b15,
.casl1b16,
.casl11b16,
.casl1b17,
.casl11b17,
.casl1b18,
.casl11b18,
.casl1b19,
.casl11b19,
.casl1b20,
.casl11b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 2 AND 12 */

.casl2,
.casl12 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl2a,
.casl12a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl2b,
.casl12b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl2b1,
.casl12b1,
.casl2b2,
.casl12b2,
.casl2b3,
.casl12b3,
.casl2b4,
.casl12b4,
.casl2b5,
.casl12b5,
.casl2b6,
.casl12b6,
.casl2b7,
.casl12b7,
.casl2b8,
.casl12b8,
.casl2b9,
.casl12b9,
.casl2b10,
.casl12b10,
.casl2b11,
.casl12b11,
.casl2b12,
.casl12b12,
.casl2b13,
.casl12b13,
.casl2b14,
.casl12b14,
.casl2b15,
.casl12b15,
.casl2b16,
.casl12b16,
.casl2b17,
.casl12b17,
.casl2b18,
.casl12b18,
.casl2b19,
.casl12b19,
.casl2b20,
.casl12b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 3 AND 13 */

.casl3,
.casl13 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl3a,
.casl13a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl3b,
.casl13b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl3b1,
.casl13b1,
.casl3b2,
.casl13b2,
.casl3b3,
.casl13b3,
.casl3b4,
.casl13b4,
.casl3b5,
.casl13b5,
.casl3b6,
.casl13b6,
.casl3b7,
.casl13b7,
.casl3b8,
.casl13b8,
.casl3b9,
.casl13b9,
.casl3b10,
.casl13b10,
.casl3b11,
.casl13b11,
.casl3b12,
.casl13b12,
.casl3b13,
.casl13b13,
.casl3b14,
.casl13b14,
.casl3b15,
.casl13b15,
.casl3b16,
.casl13b16,
.casl3b17,
.casl13b17,
.casl3b18,
.casl13b18,
.casl3b19,
.casl13b19,
.casl3b20,
.casl13b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 4 AND 14 */

.casl4,
.casl14 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl4a,
.casl14a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl4b,
.casl14b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl4b1,
.casl14b1,
.casl4b2,
.casl14b2,
.casl4b3,
.casl14b3,
.casl4b4,
.casl14b4,
.casl4b5,
.casl14b5,
.casl4b6,
.casl14b6,
.casl4b7,
.casl14b7,
.casl4b8,
.casl14b8,
.casl4b9,
.casl14b9,
.casl4b10,
.casl14b10,
.casl4b11,
.casl14b11,
.casl4b12,
.casl14b12,
.casl4b13,
.casl14b13,
.casl4b14,
.casl14b14,
.casl4b15,
.casl14b15,
.casl4b16,
.casl14b16,
.casl4b17,
.casl14b17,
.casl4b18,
.casl14b18,
.casl4b19,
.casl14b19,
.casl4b20,
.casl14b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 5 AND 15 */

.casl5,
.casl15 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl5a,
.casl15a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl5b,
.casl15b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl5b1,
.casl15b1,
.casl5b2,
.casl15b2,
.casl5b3,
.casl15b3,
.casl5b4,
.casl15b4,
.casl5b5,
.casl15b5,
.casl5b6,
.casl15b6,
.casl5b7,
.casl15b7,
.casl5b8,
.casl15b8,
.casl5b9,
.casl15b9,
.casl5b10,
.casl15b10,
.casl5b11,
.casl15b11,
.casl5b12,
.casl15b12,
.casl5b13,
.casl15b13,
.casl5b14,
.casl15b14,
.casl5b15,
.casl15b15,
.casl5b16,
.casl15b16,
.casl5b17,
.casl15b17,
.casl5b18,
.casl15b18,
.casl5b19,
.casl15b19,
.casl5b20,
.casl15b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 6 */

.casl6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl6a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl6b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl6b1,
.casl6b2,
.casl6b3,
.casl6b4,
.casl6b5,
.casl6b6,
.casl6b7,
.casl6b8,
.casl6b9,
.casl6b10,
.casl6b11,
.casl6b12,
.casl6b13,
.casl6b14,
.casl6b15,
.casl6b16,
.casl6b17,
.casl6b18,
.casl6b19,
.casl6b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 7 */

.casl7 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl7a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl7b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl7b1,
.casl7b2,
.casl7b3,
.casl7b4,
.casl7b5,
.casl7b6,
.casl7b7,
.casl7b8,
.casl7b9,
.casl7b10,
.casl7b11,
.casl7b12,
.casl7b13,
.casl7b14,
.casl7b15,
.casl7b16,
.casl7b17,
.casl7b18,
.casl7b19,
.casl7b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 8 */

.casl8 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl8a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl8b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl8b1,
.casl8b2,
.casl8b3,
.casl8b4,
.casl8b5,
.casl8b6,
.casl8b7,
.casl8b8,
.casl8b9,
.casl8b10,
.casl8b11,
.casl8b12,
.casl8b13,
.casl8b14,
.casl8b15,
.casl8b16,
.casl8b17,
.casl8b18,
.casl8b19,
.casl8b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 9 */

.casl9 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl9a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl9b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl9b1,
.casl9b2,
.casl9b3,
.casl9b4,
.casl9b5,
.casl9b6,
.casl9b7,
.casl9b8,
.casl9b9,
.casl9b10,
.casl9b11,
.casl9b12,
.casl9b13,
.casl9b14,
.casl9b15,
.casl9b16,
.casl9b17,
.casl9b18,
.casl9b19,
.casl9b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* CARS AND STREET LIGHTS 10 */

.casl10 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* CARS */

.casl10a {
    height: 10%;
    width: 100%;
    border: 0;
}

/* STREET LIGHTS */

.casl10b {
    height: 10%;
    width: 100%;
    border: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.casl10b1,
.casl10b2,
.casl10b3,
.casl10b4,
.casl10b5,
.casl10b6,
.casl10b7,
.casl10b8,
.casl10b9,
.casl10b10,
.casl10b11,
.casl10b12,
.casl10b13,
.casl10b14,
.casl10b15,
.casl10b16,
.casl10b17,
.casl10b18,
.casl10b19,
.casl10b20 {
    height: 100%;
    width: 2.535%;
    clip-path: circle(50% at 50% 50%);
    background-color: black;
}

/* WINDOWS */

.windows-1 {
    height: 100%;
    width: 100%;
}

/* ANTENNAS */



/* OTHERS */

.others-1 {
    height: 100%;
    width: 100%;
}

.others-2 {
    height: 100%;
    width: 100%;
}

.others-3 {
    height: 100%;
    width: 100%;
}

/* ABSOLUTE POSITION */

.sky,
.city,
.background-buildings,
.middle-ground-buildings,
.foreground-buildings,
.foreground {
    position: absolute;
}

/* SCROLL */

@keyframes scroll {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(-66.67%);
    }
}